body {
    background : url("http://www.poulettemagique.com/gigi/1366%C3%97769.jpg") no-repeat;
    color: white;
}

fieldset {
    background: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif");
}
